.header {
    padding: 60px;
    text-align: center;
    background: #d4e4fc;
    color: rgb(172, 194, 227);
    font-size: 30px;
  }

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  
  li a {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }